append variables
  - var points = ['Specific access/rights by users', 'Physical and virtual Mastercards with adjestable payment limits', 'Dashboards to follow-up on your expenses']
  - var values = ['Unlimited history', 'REad-only access for your accountant', 'Plug-and-play for accounting tools']
mixin Autopilot2
  section.py-5
      .container#auto
        .row.align-items-center
          .col-md-6.text-md-start
          .col-md-6.mt-4.mt-md-0.text-start
          