mixin Section1
  +Section#pricing
    .row.flex-center
      .col-md-6.text-center.text-md-start
        h4.fw-normal.fs-3(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') Your safety is always 
          br
          |a top priority
        p.fs-0.pe-xl-8(data-zanim-xs!={delay: 0.5} data-zanim-trigger='scroll') We are committed to helping employees reach their workplace with ease and confidence.
        .d-flex.justify-content-space-between.align-item-center.my-3.mt-2
          div
            h4.fw-normal.fs-1 Reschedule
            p.my-1.fs-0.pe-xl-8 Adjust your ride times as needed. Flexibility to fit your changing schedule.
          div
            h4.fw-normal.fs-1 Ride
            p.my-1.fs-0.pe-xl-8 Tap to book your ride. Arrive at work on time, every time.
          i.fas.fa-arrow-right.ms-2
      .col-md-6.mb-4
        img.w-100(src=`${CWD}assets/img/illustration/4.png`  alt='...')
        
          