mixin Section2
  +Section
    .row.align-items-center
      .col-md-6.mb-4
        img.w-100(src=`${CWD}assets/img/illustration/5.png`  alt='...')
      .col-md-6.text-center.text-md-start
        h4.fs-3.fw-normal(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') Move with Confidence, 
          br
          | Roads are open
        p.fs-0.pe-xl-7(data-zanim-xs!={delay: 0.5} data-zanim-trigger='scroll') With live tracking and dedicated safety features, you’re always in control of your journey.
        .d-flex.justify-content-center.align-item-center.my-3.mt-2
          div
            h4.fw-normal.fs-1 Route 
            p.my-1.fs-0.pe-xl-8 Travel along secure routes with trusted drivers assigned to your pickup.
          div
            h4.fw-normal.fs-1 Share
            p.my-1.fs-0.pe-xl-8 Let your team enjoy cost-effective transportation.
    
